<section class="text-gray-600 body-font ">
    <div class="container flex flex-wrap px-5 py-24 mx-auto items-center ">
        <section class="text-gray-600 body-font">
            <div class="container px-5 pt-24 mx-auto flex flex-col">
              <div class="lg:w-4/6 mx-auto">
                <div class="rounded-lg h-12 overflow-hidden bg-cyan-700">
                  
                </div>
                <div class="flex flex-col sm:flex-row mt-10">
                  <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
                    <div class="w-32 h-32 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                      
                    <img class="w-32 h-32 rounded-full shadow-xl dark:shadow-gray-800" src="assets/imagen.png">

                    </div>
                    <div class="flex flex-col items-center text-center justify-center">
                      <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Madelin Juliana Robles Hernandez</h2>
                      <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                      <p class="text-base">Programadora</p>
                    </div>

                   
                  </div>
                  <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                    <p class="leading-relaxed text-lg mb-4">  Soy estudiante de la carrera de ingeniería en sistemas, con un fuerte deseo de iniciar mi carrera como programadora. Poseo conocimientos sólidos en lenguajes de programación y estoy comprometida a aprender y crecer en el campo de la informática. Soy una persona creativa y con habilidades analíticas dispuesta a enfrentar nuevos desafíos para desarrollarme como programadora.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="text-gray-600 body-font">
            <div class="container px-5 pb-24 mx-auto flex flex-col">
              <div class="lg:w-4/6 mx-auto">
                <div class="flex flex-col sm:flex-row mt-10">
                  <div class="sm:w-1/3 text-justify sm:pr-8 sm:py-8">
                    <div class="w-full lg:w-full">
                        <strong class="text-lg font-medium">Contacto</strong>
                        <ul class="mt-2 mb-10">
                          <li class="px-2 mt-1">
                            <strong class="mr-1">Telefono </strong>
                            <p>+502 42089426</p>
                          </li>
                          <li class="px-2 mt-1">
                            <strong class="mr-1">Correo </strong>
                            <p>madelinrobles</p>
                          </li>
                          <li class="px-2 mt-1">
                            <strong class="mr-1">Ubicacion</strong><span class="block">Villa Nueva</span>
                          </li>
                        </ul>
                
                        <strong class="text-lg font-medium">Skills</strong>
                        <ul class="mt-2 mb-10">
                          <li class="px-2 mt-1">Java</li>
                          <li class="px-2 mt-1">C++</li>
                          <li class="px-2 mt-1">Node js</li>
                          <li class="px-2 mt-1">Angular</li>
                          <li class="px-2 mt-1">Spring</li>
                        </ul>
                        <p class="text-lg font-medium">Habilidades Técnicas</p>
                        <ul class="mt-2 mb-10">
                          <li class="px-2 mt-1">Git</li>
                          <li class="px-2 mt-1">Microservicios</li>
                          <li class="px-2 mt-1">Desarrollo de APIs</li>
                          <li class="px-2 mt-1">Diseño MVC</li>
                        </ul>
                
                        <strong class="text-lg font-medium">Habilidades Blandas</strong>
                        <ul class="mt-2 mb-10">
                          <li class="px-2 mt-1">Adaptabilidad</li>
                          <li class="px-2 mt-1">Análisis</li>
                          <li class="px-2 mt-1">Aprendizaje continuo</li>
                          <li class="px-2 mt-1">Colaboración</li>
                        </ul>
                        <strong class="text-lg font-medium">Intereses y Hobbies</strong>
                        <ul class="mt-2 mb-10">
                          <li class="px-2 mt-1">Cocina</li>
                          <li class="px-2 mt-1">Música</li>
                          <li class="px-2 mt-1">Series</li>
                          <li class="px-2 mt-1">Video juegos</li>
                        </ul>
                
                        <strong class="text-lg font-medium">Idiomas</strong>
                        <ul class="mt-2 mb-10">
                          <li class="px-2 mt-2 bg-cyan-700 text-white text-center rounded-lg">Ingles Intermedio</li>
                        </ul>
                      </div>
                   
                  </div>

                  <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
                    <div>

         
                        <section>
                          <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Proyectos</h2>
                          <ul class="mt-1 leading-relaxed  mb-4 text-justify">
                            <li class="py-2">
                              <div class="flex justify-between my-1">
                                <strong>Inmobiliaria</strong>
                                <p class="flex">
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">Node Js</span>
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">Angular</span>
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">PostgreSQL</span>
                                </p>
                              </div>
                              <ul class="flex mb-2">
                                <li>
                                  <p class="bg-blue-600 text-white px-2 py-1 mr-1 text-sm rounded">Freelancer</p>
                                </li>
                              </ul>
                              <p class="text-sm lg:text-base">
                                Creación de un catálogo de inmuebles, con CRUD para inmuebles y control de usuarios en una página web. La maqueta del proyecto fue desarrollada en Figma para la presentación al cliente. El backend fue desarrollado en Node.js y para la base de datos se utilizó PostgreSQL, la cual fue mapeada con Sequelize y para el frontend utilicé Angular 17.
                              </p>
                            </li>
                            <li class="py-2">
                              <div class="flex justify-between my-1">
                                <strong>Ferretería</strong>
                                <p class="flex">
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">C++</span>
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">QT</span>
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">My SQL</span>
                                </p>
                              </div>
                              <ul class="flex mb-2">
                                <li>
                                  <a href="#" class="bg-blue-600 text-white px-2 py-1 mr-1 text-sm rounded">Académico</a>
                                </li>
                              </ul>
                              <p class="text-sm lg:text-base">
                                Creación de un programa para el control de inventario en una ferretería, utilizando como lenguaje de programación C++ y SQL como base de datos. Para realizar la interfaz gráfica del sistema utilicé el framework QT.
                              </p>
                            </li>
                            <li class="py-2">
                              <div class="flex justify-between my-1">
                                <strong>ERP</strong>
                                <p class="flex">
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">Java</span>
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">PostgreSQL</span>
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">Primefaces</span>
                                </p>
                              </div>
                              <ul class="flex mb-2">
                                <li>
                                  <a href="#" class="bg-blue-600 text-white px-2 py-1 mr-1 text-sm rounded">Académico</a>
                                </li>
                              </ul>
                              <p class="text-sm lg:text-base">
                                Trabajo grupal en el cual se desarrolló una página web en un contenedor de Tomcat, se utilizó como lenguaje de programación Java y para la base de datos PostgreSQL. La página web consistía en un control de inventarios, compras y ventas.
                              </p>
                            </li>
                            <li class="py-2">
                              <div class="flex justify-between my-1">
                                <strong>EcoSuper</strong>
                                <p class="flex">
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">Java</span>
                                  <span class="bg-gray-600 text-white px-2 py-1 ml-1 text-xs rounded">MySQL</span>
                                </p>
                              </div>
                              <ul class="flex mb-2">
                                <li>
                                  <a href="#" class="bg-blue-600 text-white px-2 py-1 mr-1 text-sm rounded">Académico</a>
                                </li>
                              </ul>
                              <p class="text-sm lg:text-base">
                                Realicé un sistema para un supermercado utilizando Java como lenguaje de programación junto con SQL para almacenar los datos. La arquitectura utilizada en el proyecto fue MVC y iReport como diseñador de informes para generar facturas y reportes de los distintos módulos.
                              </p>
                            </li>
                          </ul>
                        </section>
                        <section>
                          <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Experiencias</h2>
                          <ul class="mt-2">
                            <li class="pt-2">
                              <p class="flex justify-between text-sm">
                                <strong class="text-base">Agencias Way</strong>2024-Actual
                              </p>
                              <p class="flex justify-between text-sm">
                                Analista de sistemas
                              </p>
                              <p class="text-justify text-sm lg:text-base">
                                Desarrollar APIs con java para la comunicacion entre el POS y el ERP de la empresa.
                              </p>
                            </li>
                          </ul>
                        </section>
                        <section>
                          <h2 class="text-2xl mt-6 pb-1 border-b font-semibold">Educación</h2>
                          <ul class="mt-2">
                            <li class="pt-2">
                              <p class="flex justify-between text-sm">
                                <strong class="text-base">Diversificado</strong>2019-2021
                              </p>
                              <p class="flex justify-between text-sm">
                                Perito en electrónica y dispositivos digitales<small>Colegio BM-PC</small>
                              </p>
                            </li>
                            <li class="pt-2">
                              <p class="flex justify-between text-sm">
                                <strong class="text-base">Universidad</strong>2022-Actualidad
                              </p>
                              <p class="flex justify-between text-sm">
                                Ingeniería en sistemas<small>Universidad Mariano Galvez</small>
                              </p>
                            </li>
                          </ul>
                        </section>
              
                      </div>
                
                </div>

                </div>
              </div>
            </div>
          </section>
          
    </div>
    
</section>


  

   
   
  

